-
  var now = new Date().getTime();
doctype html
html(lang="ja")
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title count up
    meta(charset='utf-8')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover')
    link(rel='shortcut icon', type='image/x-icon', href='')
    link(rel='apple-touch-icon', type='image/png', href='')
  body
    #root
    script(src=`/assets/js/index.bundle.js?rel=${now}`)